body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html{
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  width:100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1); 
 
}
nav > .logo {
  max-width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.header__wrapper{
  padding: 0px;
  margin: 76px 4px;
}
.header__item{
  background: #101010;
  border-radius: 8px;
  position: relative;
}
.header__item > img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0 0 0  0.2);
  opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .4s ease-in-out;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 70%, transparent 99%);
}
.header__item:hover > img{
  opacity: .5;
  cursor: pointer;
}
.header__item__large {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  margin-bottom: 8px;
}
.header__item__small{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.3fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  margin: 0px;
}
.item__text{
  grid-template-columns: repeat(2, 1fr);
  margin: 0px;
  color: #FFFFFF;
  text-shadow: #FFFFFF;
  font-size: 0.8em;
  font-weight: 700;
  position: absolute;
  z-index: 999;
  padding-left: 20px;
  top: 90%;
  text-align: left;
  max-width: 90%;
}

.header__item__small .item__text{
  top: 80%; 
  font-size: 0.7em;
  padding-left: 10px;
}

.item__sponsor{
  width:70px;
  height: 20px;
  display:flex;
  background-color: rgb(229,181,172);
  color: #FFFFFF;
  font-size: .7em;
  font-weight: 600;
  border-radius: 0 0 6px 0;
  justify-content:center;
  align-items:center;
  position:absolute;
  top:0px;
  left:0px;
}


@media (min-width: 650px) {
  .header__wrapper{
    padding: 0px;
    margin: 86px 54px;
  }
  .header__item__large{
    grid-template-columns: repeat(2,minmax(0,1fr));
    padding: 0px;
    padding-top: 16px;

  }
  .header__item__small{
    grid-template-columns: repeat(4, 1fr);
    margin: 0px;
    bottom: 10px;
  }
  .header__item__large .item__text{
    top: 92%; 
    font-size: 0.9em;
    
  }
  .header__item__small .item__text{
    top: 84%; 
    
  }
}